*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 96px;
    padding-right: 96px;
   background-color: #eee;

}

.galeria{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
        "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
        "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
        gap: 12px;
        
}

.foto{
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #0006;
        border: 10px solid #fff;
    
}

.foto:nth-child(1){
    grid-area: f1;
    background-image: url(./img/0218f19a3bb9c28d2baf1f430b36be4e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./img/05376a2ee467220d2e16c7b458de69c2.jpg);
}

.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./img/119ef9e8ec09d3045b37a24b661ba8b7.jpg);
    background-position: center;
}

.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./img/20c55bdb772485eb12cc53bb3733a81c.jpg);
    background-position: center;
}

.foto:nth-child(5){
    grid-area: f5;
    background-image: url(./img/4871d83fabe4f7555f4914983d1e805b.jpg);
    
}

.foto:nth-child(6){
    grid-area: f6;
    background-image: url(./img/5b283cee26a2eb1f61473fc1d88fcf23.jpg);
    background-position: center;
}

.foto:nth-child(7){
    grid-area: f7;
    background-image: url(./img/e5443160dfcd65d83dd5a1eb5765d097.jpg);
    background-position: center;
}

.foto:nth-child(8){
    grid-area: f8;
    background-image: url(./img/ec7360e423306f914f9e739db8d72cb2.jpg);
    background-position: center;
}

.foto__info{
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #0009;
    color: white;
    bottom: 0;
    transform: translateY(100%);
    transition: 1s;
    text-align: center;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    
}

.botão{
    width: 5%;
    top: 14cm;  
}

.foto:hover > .foto__info{
    transform: translateY(0%);
}

@media(max-width:768px){
    body{
        padding-left: 12px;
        padding-right: 12px;
    }

    .galeria{
        display: flex;
        flex-direction: column;
    }
    .foto{
        width: 100%;
        height: 33vh;
    }
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
h2 > span > a{
    color: white;
    font-size: 60px;
    background-color: #0009;
    border-radius: 12px;
    font-family: 'Permanent Marker', cursive;
}

.vejamais{
    background-color: #0009;
    border-radius: 32px;
    color: teal;
    
    
}

h1{
    text-align: center;
    justify-content: center;
    font-size: 60px;
    text-shadow: 5px 5px 5px black;
    font-weight: 600;
    font-family: 'Permanent Marker', cursive;

}

.titulo1{
    color: white;
}

.titulo2{
    color: gray;
}
